@media (min-width: 800px){
    .texto-ingresado{
        width: 80%;
    }
    .botones{
        flex-direction: row;
    }
    .container-texto-resultado{
        width: 80%;
        height: 100%;
    }
    
    .footer-texto{ 
        font-weight: 900;
        font-size: 16px;
    }
    
    .link{
        text-decoration: none;
        font-size: 16px;  
    }
    .link:hover{
        font-size: 18px; 
    }
}  
